<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121117214061-3c707qsmdfu7h282qrkk3gljmpi3qirm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121117214061-3c707qsmdfu7h282qrkk3gljmpi3qirm</string>
	<key>API_KEY</key>
	<string>AIzaSyB3na2ZmE70ZIn1Zanp1SAj7btKkXdTsII</string>
	<key>GCM_SENDER_ID</key>
	<string>121117214061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nightOut</string>
	<key>PROJECT_ID</key>
	<string>nightout-5da18</string>
	<key>STORAGE_BUCKET</key>
	<string>nightout-5da18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121117214061:ios:4abe1a2eff9e399c5c0664</string>
</dict>
</plist>